html {
  font-size: 62.5%; /* Sets the root font size to 10px (62.5% of the default 16px) */
}

body {
  margin: 0;
}
/*My Code*/
/*HEADER*/
header, footer {
  background-color: #ecf0f1;
  box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  -webkit-box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  -moz-box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  /* width: 100%; */
}

.header-title{
    color:  #1ABC9C;
}

.menu{
    width:80%;
    list-style-type: none ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list {
    width: 100%;
    font-weight: bolder;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

.menu-list li a {
  text-decoration: none;
/*color: initial; removes the blue color of the a element*/
  color: #2D3436;

 }

 .menu-list li a:hover{
  color: #1ABC9C;
 }


/*CONTENT-----------------------------------------------------*/
#content {
  display: flex;
  justify-content: space-around;
}

#resume-form-section,
#resume-preview-section {
  width: 45%;
  background: #ecf0f1;
  padding: 20px;
  box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  -webkit-box-shadow: 0px 1px 7px 0px #1ABC9C;
  -moz-box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 90vh;
}

.section-headers {
  border-bottom: 2px solid #2d3436;
  padding-bottom: 5px;
}

/*Buttons*/
button {
  background-color: #1abc9c;
}

/* Form Inputs */
input:focus, textarea:focus {
  outline-color: #1ABC9C; /* Change to your desired color */
}

.large{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.med {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.small {
  width: 29.9%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*EXPERIENCE FORM*/
.experience-form-container{
  margin: 1rem 0;
  border-bottom: thin dotted #2d3436;
}

.add-job-duty-button{
  margin: 1rem 0;
}

.job-duties-input-container{
  display: flex;
  flex-direction: column;
}

.gap-input{
  margin-right: .3rem;
}


/*SUMMARY*/
.summary{
  display: flex;
  flex-direction: column;
}
textarea{
  width: 89%;
}

.preview-summary{
  font-size: 1.2rem;
}


/*PREVIEW*/
.preview-info-1-container{
    display: flex;
    align-items: center; /* Aligns items vertically at the center */
    font-size: 1.2rem;
}

/*CONTACT*/
.preview-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.preview-name {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: thick double #2d3436;
  font-size: 1.5rem;
}

.full-name{
  margin-bottom: 0;
}

.preview-contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.contact-item{
  margin-bottom: 0;
  margin-top: .5rem;
}





/*Other*/
.preview-info-1{
  margin-bottom: 0;
}

.preview-info-2{
  margin-bottom: 0;
  margin-left: .5rem;
  font-weight: 100;
}

.dates-location-preview-container{
  display: flex;
  justify-content: space-between;
}

.dates-preview-container{
  width: 25%;
  display: flex;

}

.start-date-preview{
  margin-right: .5rem;
}

.end-date-preview{
  margin-left: .5rem;
}

.li-preview, .summary-preview{
  font-size: 1.5rem;
}

/*Footer*/
.copyright{
  width: 100%;
  text-align: center;
  color: #2D3436;
}

.color-teal{
  color: #1ABC9C;
}