html {
  font-size: 62.5%; /* Sets the root font size to 10px (62.5% of the default 16px) */
}

/*My Code*/
/*HEADER*/
header, footer {
  background-color: #ecf0f1;
  box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  -webkit-box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  -moz-box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.menu{
    width:80%;
    list-style-type: none ;
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.menu-list {
    width: 100%;
    font-weight: bolder;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

.menu-list li a {
  text-decoration: none;
/*color: initial; removes the blue color of the a element*/
  color:  #1ABC9C;
 }


/*CONTENT-----------------------------------------------------*/
#content {
  display: flex;
  justify-content: space-around;
}

#resume-form-section,
#resume-preview-section {
  width: 45%;
  background: #ecf0f1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-headers {
  border-bottom: 2px solid #2d3436;
  padding-bottom: 5px;
}

/* Form Inputs */
.large{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.med {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.small {
  width: 29.9%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.gap-input{
  margin-right: .3rem;
}

.experience-form-container{
    border-bottom: thin dotted #2d3436;
}

button {
  background-color: #1abc9c;
}





/*PREVIEW*/
.preview-info-1-container{
    display: flex;
    align-items: center; /* Aligns items vertically at the center */
    font-size: 1.2rem;
}

.preview-info-1{
  margin-bottom: 0;
}

.preview-info-2{
  margin-bottom: 0;
  margin-left: .5rem;
  font-weight: 100;
}

.dates-location-preview-container{
  display: flex;
  justify-content: space-between;
}

.dates-preview-container{
  width: 25%;
  display: flex;

}

.start-date-preview{
  margin-right: .5rem;
}

.end-date-preview{
  margin-left: .5rem;
}

.li-preview, .summary-preview{
  font-size: 1.5rem;
}


.copyright{
  width: 100%;
  text-align: center;
}
