html {
  font-size: 62.5%; /* Sets the root font size to 10px (62.5% of the default 16px) */
}

/*My Code*/
/*HEADER*/
header {
  background-color: #ecf0f1;
  box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  -webkit-box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  -moz-box-shadow: 0px 1px 7px 0px rgba(236, 240, 241, 0.75);
  display: flex;
  justify-content: space-between;
}

.menu{
    width:80%;
    list-style-type: none ;
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.menu-list {
    width: 100%;
    color:  #1ABC9C;
    font-weight: bolder;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
    
}


/*CONTENT-----------------------------------------------------*/
#content {
  display: flex;
  justify-content: space-around;
}

#resume-form-section,
#resume-preview-section {
  width: 48%;
  background: #ecf0f1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 2rem;
}

.med {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.small {
  width: 29.9%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.section-headers {
  border-bottom: 2px solid #2d3436;
  padding-bottom: 5px;
}

button {
  background-color: #1abc9c;
}

/* RESUME FORM_________________________________________________________________________________________________________________ */

/*CONTACT*/

/*SUMMARY*/
.summary{
  display: flex;
  flex-direction: column;
}
textarea{
  width: 89%;
}

/*EXPERIENCE FORM*/

.all-experience-forms-container{
  
}

.experience-form-container{
  border: 2px solid red;
  margin: 1rem 0;
}

.experience-details {
  display: flex;
  flex-direction: column;
}

.add-job-duty-button{
  margin: 1rem 0;
}

.job-duties-input-container{
  display: flex;
  flex-direction: column;
}

/* PREVIEW_________________________________________________________________________________________________________________ */
/*CONTACT*/
.preview-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.preview-name {
  width: 90%;
  display: flex;
  justify-content: center;
}


.preview-contact-info {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.preview-city-state{
  display: flex;
}


/*EXPERIENCE PREVIEW*/

.employer-name-position-preview-container{
  /* width: 40%; */
  border: 2px solid red;
  display: flex;
}

.employer-name-preview{
  margin-right: .5em;
}

.employer-name-position-dash{
  vertical-align: sub; /*lowers the dash character relative to the text around it, giving the appearance of a subscript.*/
  font-size: 1.1em;
  font-weight: bolder;
  margin-right: .5em;
}

.employer-dates-location-preview-container{
  display: flex;
  justify-content: space-between;
}

.employer-dates-preview-container{
  display: flex;
  justify-content: space-between;
  width: 20%;
}


.employer-location-preview{
  display: flex;
  justify-content: flex-end;
  width: 50%;
} */



/* EDUCATION */
.school-dates-preview-container{
  display: flex;
}